<h2>Estadísticas del juego</h2>
<br/><br/>

<div> <p>
<table class="datos">
    <tr> <td> Numero de preguntas</td>
         <td>  <%= estadistico.npreg %> </td></tr>
    <tr> <td> Numero de comentarios totales</td>
         <td>  <%= estadistico.n_com %> </td></tr>
    <tr> <td> Numero medio de comentarios por pregunta</td>
         <td>  <%= estadistico.media %> </td></tr>
    <tr> <td> Numero de preguntas sin comentario</td>
         <td>  <%= estadistico.npre_sc %> </td></tr>
    <tr> <td> Numero de preguntas con comentario</td>
         <td>  <%= estadistico.npre_cc %> </td></tr>
</table>
</p> </div>
